/* Write your CSS here */
.suggest_item_container {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.suggestion {
  color: #64748b;
}

.arrow_icon {
  width: 20px;
  height: 20px;
}
